parameters:
    phpVersion:
        min: 80000
        max: 80500
    level: 8
    tmpDir: .phpstan.cache
    paths:
        - src/

    strictRules:
        noVariableVariables: false

    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
